.alina{
    font-size: 36px;
}
.alina span{
    color: #d2073c;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.btn-basic{
    color: #eee;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid #D2073C;
    background: none;
    border-radius: 10px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #fff;
}

.container{
    width: 1360px;
    margin: 0 auto;
}

.main-header{
    background-color: rgba(58,57,57, 0.6);
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
}

.main-header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link span{
    color: #d2073c;
}
.main-nav__item{
    margin-right: 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #E5E5E5;
}
.main-nav__item:last-child{
    margin-right: 0;
}


.promo{
    min-height: 100vh;
    background: url(../img/promo-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.promo__content{
    width: 588px;
    color: #fff;
    padding-top: 450px;
}

.promo__header{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
}

.promo__text{
    font-size: 18px;
}



/* About - Us */

.aboutus-section{
    border: 2px solid green;
    min-height: 100vh;
    /* padding-top: 100px; */
    background: #000;
    background-image: url(../img/features-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* .mentor{
    border: 2px solid green;
    min-height: 100vh;
    background-image: url(../img/aboutus-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

} */



.features-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-item{
    width: 384px;
    height: 260px;
    padding: 40px 20px;
    text-align: center;

    border-radius: 25px;
    border: 3px solid #fff;
    box-sizing: border-box;
    background: rgba(238, 238, 238, 0.5);
}

.features-item:nth-child(2n){
    width: 282px;
}

.features-item__title{
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.features-item__text{
    color: #EEEEEE;
}




.mentor{
    min-height: 100vh;
    border: 2px solid red;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    background-image: url(../img/mentor-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mentor-content{
    display: flex;
    justify-content: space-between;
}



/* ----- services ----- */
.services{
    border: 2px solid green;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
}
.services-list{
    display: flex;
    justify-content: space-between;

}
.service{
    width: 340px;
    height: 460px;
    padding-top: 60px;
    background: rgba(238, 238, 238, 0.3);
    box-sizing: border-box;
}

/* ----- reviews ----- */
.rewievs-section{
    border: 3px solid red;
    padding-bottom: 130px;
    padding-top: 130px;
}
.slider-list{
    display: flex;
    justify-content: space-between;
}

.slide__img{
    position: absolute;
    left: 120px;
    top: -70px;
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

.slide{
    position: relative;
    width: 360px;
    height: 250px;
    padding-top: 55px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    background: rgba(229, 229, 229, 0.2);
    box-sizing: border-box;
}
.slide__name{
    text-align: center;
}
.slide__social{
    color: #D2073C;
    text-align: center;
}
.slide__text{
    font-size: 16px;
    color: #EEEEEE;
}
.slider{
    position: relative;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #1F1F1F;
    border:none;
    font-size: 0px;
}

.slider__btn:hover{
    cursor: pointer;
}
.slider__btn--left{
    top: 50px;
    left: -70px;
}
.slider__btn--right{
    top: 50px;
    right: -70px;
}
.slider__btn--left::before{
    content: '';
    
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/arr-left.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.slider__btn--right::before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/arr-right.png);
    background-position: 10px 5px;
    background-repeat: no-repeat;
}



/* questions*/
.questions-section{
    padding-bottom: 170px;
}
.questions-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
}

.questions-content__title{
    position: relative;
    width: 100%;
    font-size: 35px;
}

.questions-content__title::before{
    content: '';
    position: absolute;
    top: -65px;
    left: -80px;
    display: block;
    width: 178px;
    height: 178px;
    background-image: url(../img/questions-ison.png);
    opacity: 0.3;
}

.questions-list,
.answers-list{
    width: 500px;
    font-size: 18px;
}

.questions-list span,
.answers-list span{
    font-size: 20px;
    color: #D2073C;
}

.questions-list__item{
    margin-bottom: 30px;
}

.answers-list__item{
    margin-bottom: 30px;
}



/* footer */

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 85px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background: rgba(58,57,57, 0.55);
    border-radius: 45px;
    background-image: url(../img/footer-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1360px 176px;
}

.footer-feedback__title{
    font-size: 30px;
    text-transform: uppercase;
}
.social-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 250px;
    text-align: center;
}
.social-email{
    width: 100%;
    margin-bottom: 12px;
}
.social-list__link{
    font-size: 20px;
    color: #fff;
}
.copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-bg{
    background: url(../img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}